[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
scikit-learn = "*"
pandas = "*"
numpy = "*"
tensorflow = "*"
xgboost = "*"
django = "==4.2.11"
djangorestframework = "*"
markdown = "*"
python-decouple = "*"
whitenoise = "*"
psycopg2-binary = "*"
gunicorn = "*"
django-cors-headers = "*"

[dev-packages]
black = "*"

[requires]
python_version = "3.11"
